html, body {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif!important;
}

body {
	box-sizing: border-box;
	border: @browser_window_border;
}

* {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}