.browser-bar {
	@height: 40px;
	box-sizing: border-box;
	float: left;
	clear: both;
	width: 100%;
	height: @height;
	padding: 0.3em;
	background: @browser_bar_background;
	border-bottom: @browser_bar_border_bottom;
	box-shadow: @browser_bar_box_shadow;
	z-index: 200;
}