.button {
	@height: 1.7em;
	float: left;
	clear: none;
	padding: .2em .5em;
	margin: .3em;
	cursor: pointer;
	background: @button_inactive_background;
	opacity: 1;
	transition: background 0.1s ease, opacity 0.1s ease;
	.icon, .text {
		display: none;
		float: left;
		clear: none;
		width: auto;
		height: @height;
		margin: 0 0.1em;
		line-height: @height;
		text-align: center;
	}
	.icon {
		width: @height;
	}
	&.has-icon .icon,
	&.has-text-icon .icon {
		display: block;
	}
	&.has-text .text {
		display: block;
	}
	&:hover {
		background: @button_hover_background;
	}
	&:active {
		background: @icon_button_active_background;
	}
	&.disabled {
		cursor: default;
		opacity: 0.3;
		background: @button_active_background!important;
	}
}