.icon-button {
	@size: 1.7em;
	float: left;
	clear: none;
	width: @size;
	height: @size;
	margin: 0 0.1em;
	line-height: @size;
	text-align: center;
	cursor: pointer;
	background: @icon_button_inactive_background;
	color: @icon_button_color;
	opacity: 1;
	transition: background 0.1s ease, opacity 0.1s ease;
	&:hover {
		background: @icon_button_hover_background;
	}
	&:active {
		background: @icon_button_active_background;
	}
	&.disabled {
		cursor: default;
		opacity: 0.3;
		background: @icon_button_inactive_background!important;
	}
}